<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
  <meta charset="UTF-8">
  <title id="pageTitle">Update Post</title>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>Welcome to Travel Agency</h1>
    <h2>You can post your travel status and share with people.</h2>
  </div>
</main>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>